In [1]:
import numpy as np
import pandas as pd
import nibabel as nib
import itertools

In [2]:
def before_after(a, total_width):
    before = (total_width-a)//2
    after = total_width-before-a
    return (before, after)


def get_pad_width(x,y,z,total_width=400):
    return (before_after(x,total_width),
            before_after(y,total_width),
            before_after(z,total_width))

In [3]:
img = nib.load('data/I004_1.nii.gz')
data = img.get_fdata()

In [4]:
x,y,z = list(data.shape)
padded = np.pad(data,get_pad_width(x,y,z),'constant',constant_values=0)
print(padded.shape)
print(data.shape)

(400, 400, 400)
(89, 140, 50)

In [5]:
width = 400
regions = 4
block_labels = ['block_' + str(x) + '_mean' for x in range(1,regions**3+1)]
region_mean=[]
ix = []
for i in range(regions):
    ix.append([width // regions * i, width // regions * (i+1)])
count = 0
for i, j, k in itertools.product(ix,ix,ix):
    region_mean.append(np.mean(padded[i[0]:i[-1],j[0]:j[-1],k[0]:k[-1]]))

In [6]:
ix = []
regions = 10
centered_block_labels = ['centered_block_' + str(x) + '_mean' for x in range(1,regions+1)]
for i in range(regions):
    half_width = width//2
    half_region = width//regions//2*(i+1)
    ix.append([half_width-half_region, half_width+half_region])

centered_means = []
for i in ix:
    centered_means.append(np.mean(padded[i[0]:i[-1],i[0]:i[-1],i[0]:i[-1]]))

In [7]:
centered_df = pd.DataFrame(np.array(centered_means,ndmin=2), columns=centered_block_labels)
centered_df.head()

,centered_block_1_mean,centered_block_2_mean,centered_block_3_mean,centered_block_4_mean,centered_block_5_mean,centered_block_6_mean,centered_block_7_mean,centered_block_8_mean,centered_block_9_mean,centered_block_10_mean
0,1449.896625,874.121459,396.422944,182.07805,93.223962,53.949052,33.973747,22.759756,15.984904,11.652995